@font-face {
    font-family: "ggsans";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/ggsans/gg_sans_Normal.ttf);
}

@font-face {
    font-family: "ggsans";
    font-style: italic;
    font-weight: 400;
    src: url(./fonts/ggsans/gg_sans_Normal_Italic.ttf)
}

@font-face {
    font-family: "ggsans";
    font-style: normal;
    font-weight: 500;
    src: url(./fonts/ggsans/gg_sans_Medium.ttf)
}

@font-face {
    font-family: "ggsans";
    font-style: italic;
    font-weight: 500;
    src: url(./fonts/ggsans/gg_sans_Medium_Italic.ttf)
}

@font-face {
    font-family: "ggsans";
    font-style: normal;
    font-weight: 600;
    src: url(./fonts/ggsans/gg_sans_Bold.ttf)
}

@font-face {
    font-family: "ggsans";
    font-style: italic;
    font-weight: 600;
    src: url(./fonts/ggsans/gg_sans_Bold_Italic.ttf)
}

@font-face {
    font-family: "ggsans";
    font-style: normal;
    font-weight: 800;
    src: url(./fonts/ggsans/gg_sans_Extrabold.ttf)
}


@font-face {
    font-family: "ginto";
    font-style: normal;
    font-weight: 800;
    src: url(./fonts/ginto/ginto-normal.woff2);
}

.asdasd {
    font-family: ginto;
    /* font-weight: 800; */
    font-size: 28px
}
