body {
    color: var(--white);
}

.heading-background-container {
    display: flex;
    position: relative;
    height: 47.78rem;
    background-color: #404EED;
    z-index: -1;
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.landing-page-scroll-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.landing-page-scroll-container::-webkit-scrollbar {
    display: none;
}

.background-picture {
    position: absolute;
    margin-bottom: 0.05rem;
}


.left-picture {
    position: absolute;
    z-index: 2;
    margin-right: 85.6rem;
}

.right-picture {
    position: absolute;
    z-index: 2;
    margin-left: 84.8rem;
}

.heading-items-container {
    max-width: 38.2rem;
    font-family: ggsans;
    display: flex;
    position: absolute;
    z-index: 5;
    margin-bottom: 7.5rem;
    flex-direction: column;
    text-align: center;
}

.heading-items-title {
    font-family: ginto;
    font-size: 56px;
    max-height: 7rem;
    margin: 0px;
    line-height: 3.3rem;
    width: 39rem;
    padding-right: .8rem;
}

.heading-item-buttons {
    display: flex;
    padding-top: 0.5rem;
    flex-direction: column;
    align-items: center;
}

.download-button {
    color: #23272A;
    background-color: var(--white);
    border: 0;
    border-radius: 1.75rem;
    font-family: ggsans;
    font-size: 20px;
    font-weight: 500;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    width: 18.25rem;
    height: 3.5rem;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.download-button:hover {
    color: var(--primary);
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0,0,0,.2);
}

.open-discord-button {
    color: var(--white);
    background-color: #23272A;
    border: 0;
    border-radius: 1.75rem;
    font-family: ggsans;
    font-size: 20px;
    font-weight: 500;
    padding: .9rem 2rem;
    margin-top: 1.5rem;
    width: 19.85rem;
    height: 3.5rem;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.open-discord-button:hover {
    background-color: #313338;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0,0,0,.2);
}

.open-discord-button-mobile-view {
    display: none;
    color: var(--white);
    background-color: #23272A;
    border: 0;
    border-radius: 1.75rem;
    font-family: ggsans;
    font-size: 20px;
    font-weight: 500;
    padding: .9rem 2rem;
    margin-top: 1.5rem;
    width: 19.85rem;
    height: 3.5rem;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.heading-nav-container {
    font-family: ggsans;
    z-index: 7;
    position: absolute;
    margin-bottom: 44.65rem;
    margin-left: 0.4rem;
}

.heading-nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.3rem;
    margin-right: 8.3rem;
}

.heading-nav-logo {
    display: flex;
    align-items: center;
    width: 8rem;
    font-family: ginto;
}

.heading-nav-logo > i {
    font-size: 1.65rem;
}

.heading-nav-logo:hover {
    cursor: pointer;
}

.heading-nav-links {
    display: flex;
    font-weight: 500;
    gap: 2.55rem;

}

.heading-nav-links > p {
    margin-bottom: 0px;
}

.heading-nav-links > p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.heading-nav-login-button {
    position: absolute;
    border: 0;
    border-radius: 2.5rem;
    height: 2.4rem;
    font-size: 14px;
    width: 4.05rem;
    font-family: 'ggsans';
    background-color: var(--white);
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.heading-nav-login-button {
    transform:translatex(64px) translatey(-19px);
}

.heading-nav-main-button {
    position: absolute;
    border: 0;
    border-radius: 2.5rem;
    height: 2.35rem;
    font-size: 14px;
    width: 7rem;
    font-family: 'ggsans';
    background-color: var(--white);
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.heading-nav-main-button{
    transform:translatex(17px) translatey(-19px);
}

.heading-nav-login > button:hover {
    color: var(--primary);
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0,0,0,.2);
}

.body-first-block-container {
    height: 41.05rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.body-first-block-image {
    height: 30rem;
    display: flex;
    align-items: center;
}

.body-first-block-text {
    height: 30rem;
    font-family: ggsans;
    color: #23272A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 26%;
}

.body-first-block-text > h2 {
    font-size: 48px;
    line-height: 3.65rem;
    margin-top: 0px;
    margin-bottom: 1.5rem;
    width: 18.48rem;
}

.body-first-block-text > p {
    font-size: 20px;
    width: 18.48rem;
    line-height: 2rem;
}

.body-img1 {
    max-height: 72%;
    margin-right: .2rem;
}

.body-second-block-container {
    height: 37.455rem;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.body-second-block-text {
    height: 30rem;
    font-family: ggsans;
    color: #23272A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 26%;
}

.body-second-block-image {
    height: 30rem;
    display: flex;
    align-items: center;
}

.body-img2 {
    max-height: 72%;
    margin-left: .2rem;
}

.body-second-block-text > h2 {
    font-size: 48px;
    line-height: 3.60rem;
    margin-top: 0px;
    margin-bottom: 1.5rem;
    width: 18.48rem;
}

.body-second-block-text > p {
    font-size: 20px;
    line-height: 2.05rem;
    width: 18.48rem;
}

.body-third-block-container {
    height: 36.594rem;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.body-third-block-text {
    height: 30rem;
    font-family: ggsans;
    color: #23272A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 26%;
}

.body-third-block-image {
    height: 30rem;
    display: flex;
    align-items: center;
}

.body-img3 {
    max-height: 72%;
    margin-top: .1rem;
    margin-right: .2rem;
}

.body-third-block-text > h2 {
    font-size: 48px;
    line-height: 3.6rem;
    margin-top: 0px;
    margin-bottom: 1.5rem;
    width: 18.48rem;
}

.body-third-block-text > p {
    font-size: 20px;
    line-height: 2.05rem;
    width: 18.48rem;
}

.body-fourth-block-container {
    height: 78.751rem;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.body-fourth-block-container > h1 {
    color: #23272A;
    font-family: ginto;
    margin-top: 7.5rem;
    font-size: 40px;
    width: 48.073rem;
    margin-bottom: 1.55rem;
    line-height: 2.35rem;
}

.body-fourth-block-p {
    color: #23272A;
    width: 48.073rem;
    font-family: ggsans;
    line-height: 2.05rem;
    font-size: 20px;
    margin-bottom: 1rem;
}

.body-img4 {
    width: 57.938rem;
}

.body-img5 {
    color: #23272A;
    font-family: ggsans;
    font-weight: 600;
    font-size: 32px;
    padding-top: 1.7rem;
    margin-top: 5rem;

    width: 34rem;
    height: 4rem;
    background-image: url(/images/landing_body_img5.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.body-fourth-block-button {
    margin-top: 2.75rem;
    border: 0;
    border-radius: 1.75rem;
    background-color: var(--primary);
    color: var(--white);
    height: 3.5rem;
    width: 18.3rem;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

.body-fourth-block-button:hover {
    background-color: #7983F5;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0,0,0,.2);
}

.body-fifth-block-container {
    background-color: #23272A;
    height: 39rem;
    font-family: ggsans;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-fifth-block-sub-container {
    display: flex;
}

.body-fifth-block-techologies {
    padding-top: 6.5rem;
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
    margin-left: 1.4rem;
}

.body-fifth-block-language {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
    font-size: 14px;
    margin-bottom: -3rem;
}

.body-fifth-block-techologies-header {
    margin-top: 4.35rem;
    font-size: 14px;
    margin-left: .8rem;
}

.body-fifth-block-cathal {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 5.1rem;
    flex-basis: 15%;
}

.body-fifth-block-cathal > a {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.body-fifth-block-cathal > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.body-fifth-block-jason {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 5.1rem;
    flex-basis: 15%;
}

.body-fifth-block-jason > a {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.body-fifth-block-jason > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.body-fifth-block-jp {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 5.1rem;
    flex-basis: 15%;
}

.body-fifth-block-jp > a {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.body-fifth-block-jp > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.body-fifth-block-zach {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 5.1rem;
    flex-basis: 15%;
}

.body-fifth-block-zach > a {
    color: var(--white);
    text-decoration: none;
}

.body-fifth-block-zach > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.body-fifth-block-footer {
    border-top: 1px solid var(--primary);
    margin: 0px 2.5rem;
    padding-bottom: .9rem;
    height: 7.8rem;
    display: flex;
}


.body-fifth-block-footer-signup-button {
    border: 0;
    border-radius: 2.5rem;
    background-color: var(--primary);
    margin-bottom: .5rem;
    font-family: ggsans;
    font-weight: 500;
    font-size: 14px;
    color: var(--white);
    height: 2.4rem;
    width: 4.75rem;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

.body-fifth-block-footer-signup-button:hover {
    background-color: #7983F5;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0,0,0,.2);
}

.fa-redux {
    width: 1.5rem;
    height: 1.5rem;
}


.fa-flask {
    width: 1.85rem;
    height: 1.85rem;
}

.fa-sqlalchemy {
    width: 4rem;
    height: 4rem;
}

.fa-vite {
    width: 1.75rem;
    height: 1.75rem;
}

.fa-socketio {
    width: 1.75rem;
    height: 1.75rem;
}

.body-fifth-block-icons {
    display: flex;
    margin-top: 1.5rem;
    gap: 0.4rem;
    margin-left: 1rem;
    width: 12rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-nav-logo {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
}

.footer-nav-logo > p:hover {
    cursor: pointer;
}

.heading-items-p {
    font-size: 20px;
    margin-top: 2.45rem;
    margin-bottom: 0rem;
    max-width: 40rem;
    line-height: 2.04rem;
}

.body-fifth-block-zach-name {
    color: #5865F2;
    padding-bottom: 1rem
}

.body-fifth-block-first-developer-container {
    display: flex;
    gap: 5rem;
}

.body-fifth-block-second-developer-container {
    display: flex;
    gap: 3rem;
}

.body-fifth-block-main-developer-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.body-fifth-block-zach-name {
    width: 8rem;
}

.nav-bar-mobile-view {
    display: none;
    border: 0;
    border-radius: 2.5rem;
    height: 2.35rem;
    font-size: 13px;
    width: 7rem;
    margin-left: 1rem;
    background-color: var(--primary);
    color: var(--white);
}

@media (min-width: 1200px) {
    .heading-nav-items {
        gap: 10.3rem;
        margin-right: 8.5rem;
    }

    .heading-nav-container {
        margin-bottom: 36rem;
    }

    .heading-items-title {
        width: 80rem;
        padding-right: 0px;
    }

    .heading-items-p {
        max-width: 49rem;
    }

    .heading-background-container {
        height: 39.1rem;
    }

    .heading-items-container {
        max-width: 77rem;
        align-items: center;
        margin-bottom: 9.25rem;
    }

    .heading-item-buttons {
        flex-direction: row;
    }

    .background-picture {
        margin-bottom: -0.05rem;
    }

    .right-picture {
        margin-left: 84.7rem;
    }

    .left-picture {
        margin-right: 85.75rem;
    }

    .body-img1 {
        max-height: 100%;
        margin-left: 18rem;
    }

    .body-first-block-container {
        gap: 7.5rem;
        height: 42.5rem;
    }

    .body-first-block-text > h2 {
        width: 25rem;
    }

    .body-first-block-text > p {
        width: 23rem;
    }

    .body-img2 {
        max-height: 100%;
    }

    .body-second-block-container {
        height: 42.5rem;
    }

    .body-second-block-text {
        flex-basis: 15%;
    }

    .body-second-block-text > h2 {
        width: 25rem;
    }

    .body-second-block-text > p {
        width: 23rem;
    }

    .body-img3 {
        max-height: 100%;
        margin-left: 1.4rem;
    }

    .body-third-block-container {
        height: 42.5rem;
    }

    .body-third-block-text {
        flex-basis: 15%;
        margin-left: 1.4rem;
    }

    .body-third-block-text > h2 {
        width: 25rem;
    }

    .body-third-block-text > p {
        width: 24rem;
    }

    .body-fourth-block-container > h1 {
        width: 60rem;
    }

    .body-fourth-block-p {
        width: 60rem;
    }

    .body-img5 {
        width: 34rem;
    }

    .body-img4 {
        width: 73.8rem;
    }

    .body-fourth-block-container {
        height: 83.95rem;
    }

    .body-fifth-block-sub-container {
        display: flex;
        justify-content: center;
    }

    .body-fifth-block-main-developer-container {
        margin-top: 1rem;
    }

    .body-fifth-block-footer {
        border-top: 0px;
        width: 100vw;
        justify-content: center;
    }
    .footer-nav-logo {
        border-top: 1px solid var(--primary);
        width: 50vw;
    }

    .body-fifth-block-techologies {
        flex-basis: 20%;
    }
}

@media (min-width: 769px)
    and (max-width: 1023px) {

    .heading-items-container {
        display: flex;
        align-items: flex-start;
        text-align: start;
        margin-right: 8rem;
        margin-bottom: 9.9rem;
    }

    .heading-items-container > p {
        font-size: 17px;
        line-height: 1.75rem;
        width: 30rem;
    }

    .heading-background-container {
        width: 100vw;
        height: 46.5rem;
    }

    .left-picture {
        display: none;
    }

    .right-picture{
        margin-left: 29.8rem;
    }

    .background-picture {
        margin-right: 5rem;
    }

    .heading-nav-links {
        display: none;
    }

    .heading-nav-container {
        width: 90vw;
        display: flex;
        margin-bottom: 43.4rem;
    }

    .heading-nav-items {
        display: flex;
        gap: 28.1rem;
    }

    .body-first-block-container {
        gap: 1rem;
        height: 29.25rem;
    }
    .body-img1 {
        width: 23.5em;
    }
    .body-first-block-text {
        flex-basis: 0;
    }
    .body-first-block-text > h2 {
        width: 23rem;
    }
    .body-first-block-text > p {
        width: 23.2rem;
        font-size: 17px;
        line-height: 1.7rem;
    }

    .body-second-block-container {
        gap: 1.2rem;
        height: 25.25rem;
    }
    .body-img2 {
        width: 23.5em;
    }
    .body-second-block-text {
        flex-basis: 0;
    }
    .body-second-block-text > h2 {
        width: 23rem;
    }
    .body-second-block-text > p {
        width: 23.2rem;
        font-size: 17px;
        line-height: 1.7rem;
    }

    .body-third-block-container {
        gap: 1rem;
        height: 25.1rem;
    }
    .body-img3 {
        width: 23.5em;
    }
    .body-third-block-text {
        flex-basis: 0;
    }
    .body-third-block-text > h2 {
        width: 23rem;
    }
    .body-third-block-text > p {
        width: 23.2rem;
        font-size: 17px;
        line-height: 1.7rem;
    }


    .body-fourth-block-container {
        height: 65rem;
    }
    .body-fourth-block-container > h1 {
        font-size: 34px;
        margin-top: 5rem;
        line-height: 2rem;
    }

    .body-fourth-block-p {
        font-size: 17px;
        line-height: 1.7rem;
    }
    .body-img4 {
        width: 48.1rem;
        margin-top: .6rem;
    }

    .body-img5 {
        margin-top: 4.7rem;
        margin-bottom: .4rem;
    }

    .body-fifth-block-first-developer-container {
        display: flex;
        gap: 3rem;
    }

    .body-fifth-block-second-developer-container {
        display: flex;
    }

    .body-fifth-block-main-developer-container {
        display: flex;
        justify-content: center;
    }

    .body-fifth-block-zach-name {
        width: 8rem;
    }
}

@media (min-width: 481px)
    and (max-width: 768px) {

        .heading-nav-links {
            display: none;
        }

        .heading-nav-container {
            margin-bottom: 41.9rem;
        }

        .heading-nav-items {
            display: flex;
            justify-content: space-between;
            width: 70vw;
        }

        .heading-background-container {
            height: 45.1rem;
        }

        .heading-nav-logo {
            margin-left: -2rem;
        }

        .right-picture {
            display: none;
        }

        .background-picture {
            display: none;
        }

        .left-picture {
            margin-right: 10rem;
            width: 79.5%;
        }

        .heading-items-container {
            text-align: start;
            margin-bottom: 22.9rem;
            margin-right: 6.8rem;
        }

        .heading-items-title  {
            font-size: 38.35px;
        }

        .heading-items-p {
            font-size: 16px;
            margin-top: .95rem;
            max-width: 45rem;
            width: 45rem;
            line-height: 1.65rem;
        }

        .heading-item-buttons {
            width: 40rem;
            display: flex;
            flex-direction: row;
            padding-top: 0rem;
        }

        .heading-items-title{
            width: 40rem;
        }

        .body-first-block-container {
            flex-direction: column;
            justify-content: flex-start;
            gap: 0rem;
            height: 44.25rem;
        }

        .body-first-block-image {
            width: 40rem;
        }

        .body-img1 {
            max-height: 100%;
            margin-top: 7.5rem;
            margin-left: -2.5rem;
        }

        .body-first-block-text {
            width: 40rem;
            margin-right: 5rem;
        }

        .body-first-block-text > h2 {
            width: 45rem;
            font-size: 30.68px;
            margin-top: 2.4rem;
            margin-bottom: .75rem;
        }

        .body-first-block-text > p {
            width: 45rem;
            font-size: 16px;
            line-height: 1.65rem;
        }

        .body-second-block-container {
            flex-direction: column-reverse;
            justify-content: flex-start;
            gap: 0rem;
            height: 44.25rem;
        }

        .body-second-block-image {
            width: 40rem;
        }

        .body-img2 {
            max-height: 100%;
            margin-top: 6.2rem;
            margin-left: -2.5rem;
        }

        .body-second-block-text {
            width: 40rem;
            margin-right: 4.95rem;
            margin-bottom: 2.05rem;
        }

        .body-second-block-text > h2 {
            width: 45rem;
            font-size: 30.68px;
            margin-top: 1rem;
            margin-bottom: .9rem;
        }

        .body-second-block-text > p {
            width: 45rem;
            font-size: 16px;
            line-height: 1.6rem;
        }

        .body-third-block-container {
            flex-direction: column;
            justify-content: flex-start;
            gap: 0rem;
            height: 44.4rem;
        }

        .body-third-block-image {
            width: 40rem;
        }

        .body-img3 {
            max-height: 100%;
            margin-top: 7.7rem;
            margin-left: -2.5rem;
        }

        .body-third-block-text {
            width: 40rem;
            margin-right: 4.95rem;
        }

        .body-third-block-text > h2 {
            width: 45rem;
            font-size: 30.68px;
            margin-top: 2.5rem;
            margin-bottom: .9rem;
        }

        .body-third-block-text > p {
            width: 45rem;
            font-size: 16px;
            line-height: 1.6rem;
        }

        .body-fourth-block-container > h1 {
            font-size: 30.68px;
            margin-top: 3.25rem;
            margin-bottom: 1.2rem;
        }

        .body-fourth-block-p {
            font-size: 16px;
            width: 90vw;
            text-align: start;
            margin-right: 1.6rem;
            line-height: 1.65rem;
            display: flex;
            justify-content: center;
        }

        .body-img4 {
            width: 44.9rem;
            margin-top: .45rem;
        }

        .body-img5 {
            width: 68vw;
            font-size: 32px;
            margin-top: 3.5rem;
        }

        .body-fourth-block-container {
            height: 56.15rem;
        }

        .body-fourth-block-button {
            margin-top: 2.85rem;
            width: 93.8vw;
        }

        .body-fifth-block-zach-name {
            width: 8rem;
        }

        .body-fifth-block-first-developer-container {
            display: grid;
            justify-content: space-around;
            gap: 2.5rem;
            margin-top: 1rem;
            margin-bottom: 2.2rem;
        }

        .body-fifth-block-second-developer-container {
            display: grid;
            justify-content: space-around;
            gap: 2.5rem;
            margin-top: 1rem;
            margin-bottom: 2.2rem;
        }

        .body-fifth-block-main-developer-container {
            display: flex;
            justify-content: center;
        }
    }

@media (max-width: 480px) {
    .heading-nav-links {
        display: none;
    }

    .heading-nav-login-button {
        display: none;
    }

    .heading-nav-main-button {
        display: none;
    }

    .open-discord-button-mobile-view {
        display: block;
    }

    .open-discord-button {
        display: none;
    }

    .heading-nav-items {
        gap:4.4rem;
        margin-right: .3rem;
    }

    .heading-items-title {
        font-size: 24px;
        margin-left: -.8rem;
        margin-top: 10rem;
    }

    .heading-items-container {
        margin-bottom: 15.55rem;
    }

    .heading-items-p {
        font-size: clamp(16px,2vw,20px);
        max-width: 21rem;
        margin-left: 9rem;
        text-align: start;
        line-height: 1.6rem;
        margin-top: .6rem;
    }
    .download-button {
        margin-top: 1rem;
        margin-right: 2.1rem;
    }

    .open-discord-button {
        margin-right: .6rem;
    }

    .heading-background-container {
        height: 45rem;
    }

    .heading-nav-container {
        margin-bottom: 41.8rem;
    }

    .background-picture {
        display: none;
    }

    .right-picture {
        display: none;
    }

    .left-picture {
        margin-right: 10rem;
        width: 23.4rem;
    }

    .body-first-block-container {
        flex-direction: column;
        gap: 0rem;
        height: 34.05rem;
    }

    .body-first-block-text > h2 {
        font-size: 20px;
        line-height: 1.5rem;
        width: 20.5rem;
        margin-top: -1.2rem;
    }

    .body-first-block-text > p {
        font-size: 16px;
        line-height: 1.7rem;
        width: 20.5rem;
    }

    .body-first-block-image {
        height: 18.5rem;
        margin-top: -.5rem;
        margin-left: 0.2rem;
    }

    .body-second-block-container {
        height: 30.9rem;
        flex-direction: column-reverse;
        gap: 0rem;
    }

    .body-second-block-image {
        height: 18.5rem;
        margin-top: .3rem;
    }

    .body-second-block-text > h2 {
        font-size: 20px;
        margin-top: -3.5rem;
        width: 20.5rem;
        margin-bottom: .4rem;
    }

    .body-second-block-text > p {
        font-size: 16px;
        width: 20.5rem;
        line-height: 1.7rem;
    }

    .body-third-block-container {
        flex-direction: column;
        height: 32.5rem;
        gap: .1rem;
    }

    .body-third-block-image {
        height: 18.5rem;
        margin-bottom: .8rem;
    }

    .body-third-block-text > h2 {
        font-size: 20px;
        margin-top: -4.4rem;
        width: 20.5rem;
        margin-bottom: .5rem;
    }

    .body-third-block-text > p {
        font-size: 16px;
        width: 20.5rem;
        line-height: 1.6rem;
    }

    .body-fourth-block-container {
        text-align: start;
        height: 47.45rem;
    }
    .body-fourth-block-container > h1 {
        width: 20rem;
        font-size: 20px;
        line-height: 1.2rem;
        margin-top: 3.5rem;
        margin-left: -.4rem;
    }

    .body-fourth-block-p {
        font-size: 16px;
        width: 20rem;
        margin-left: -.4rem;
        line-height: 1.6rem;
    }

    .body-img4 {
        width: 20.4rem;
        margin-top: 0.5rem;
    }

    .body-img5 {
        width: 20.5rem;
        margin-top: 3.5rem;
        line-height: 2.5rem;
    }
    .body-fourth-block-button {
        margin-top: 5.2rem;
        width: 20.5rem;
    }

    .body-fifth-block-sub-container {
        flex-direction: column;
    }

    .body-fifth-block-cathal {
        margin-top: 0rem;
        width: 5rem;
    }

    .body-fifth-block-jason {
        margin-top: 0rem;
    }

    .body-fifth-block-jp {
        margin-top: 0rem;
    }

    .body-fifth-block-zach {
        margin-top: 0rem;
    }

    .body-fifth-block-zach-name {
        width: 8rem;

    }

    .body-fifth-block-techologies {
        margin-left: .4rem;
    }

    .body-fifth-block-container {
        height: fit-content;
    }

    .body-fifth-block-first-developer-container {
        display: grid;
        justify-content: space-around;
        gap: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 2.2rem;
    }

    .body-fifth-block-second-developer-container {
        display: grid;
        justify-content: space-around;
        gap: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 2.2rem;
    }

    .body-fifth-block-main-developer-container {
        display: flex;
        justify-content: center;
    }
}
