body {
    margin: 0 auto;
    color: #ffffff;
}

.heading-background-container {
    display: flex;
    position: relative;
    height: 47.78rem;
    background-color: #404EED;
    z-index: -1;
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.background-picture {
    position: absolute;
    margin-bottom: 0.05rem;
}


.left-picture {
    position: absolute;
    z-index: 2;
    margin-right: 85.6rem;
}

.right-picture {
    position: absolute;
    z-index: 2;
    margin-left: 84.8rem;
}

.heading-items-container {
    max-width: 38.2rem;
    font-family: ggsans;
    display: flex;
    position: absolute;
    z-index: 5;
    margin-bottom: 7.5rem;
    flex-direction: column;
    text-align: center;
}

.heading-item-buttons {
    display: flex;
    padding-top: 0.5rem;
    flex-direction: column;
    align-items: center;
}

.download-button {
    color: #23272A;
    background-color: #ffffff;
    border: 0;
    border-radius: 1.75rem;
    font-family: ggsans;
    font-size: 20px;
    font-weight: 500;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    width: 18.25rem;
    height: 3.5rem;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.download-button:hover {
    color: #5865F2;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0,0,0,.2);
}

.open-discord-button {
    color: #ffffff;
    background-color: #23272A;
    border: 0;
    border-radius: 1.75rem;
    font-family: ggsans;
    font-size: 20px;
    font-weight: 500;
    padding: .9rem 2rem;
    margin-top: 1.5rem;
    width: 19.85rem;
    height: 3.5rem;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.open-discord-button:hover {
    background-color: #313338;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0,0,0,.2);
}

.heading-nav-container {
    max-width: 73.75rem;
    width: 93%;
    font-family: ggsans;
    z-index: 7;
    position: absolute;
    margin-bottom: 44.65rem;
    margin-left: 0.4rem;
}

.heading-nav-items {
    max-width: 73.75rem;
    display: flex;
    align-items: center;
}

.heading-nav-logo {
    display: flex;
    align-items: center;
    width: 8rem;
    font-family: ginto;
}

.heading-nav-logo > i {
    font-size: 1.65rem;
}

.heading-nav-logo:hover {
    cursor: pointer;
}

.heading-nav-links {
    display: flex;
    font-weight: 500;
    gap: 2.55rem;
    margin-right: 6.1rem;
    margin-left: 2.5rem
}

.heading-nav-links > p {
    margin-bottom: 0px;
}

.heading-nav-links > p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.heading-nav-login-button {
    position: absolute;
    border: 0;
    border-radius: 2.5rem;
    height: 2.4rem;
    font-size: 14px;
    width: 4.05rem;
    font-family: 'ggsans';
    background-color: #FFFFFF;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.heading-nav-login-button {
    transform:translatex(4px) translatey(-19px);
}

.heading-nav-main-button {
    position: absolute;
    border: 0;
    border-radius: 2.5rem;
    height: 2.35rem;
    font-size: 14px;
    width: 7rem;
    font-family: 'ggsans';
    background-color: #FFFFFF;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.heading-nav-main-button{
    transform:translatex(-43px) translatey(-19px);
}

.heading-nav-login > button:hover {
    color: #5865F2;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0,0,0,.2);
}

.body-first-block-container {
    height: 41.05rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.body-first-block-image {
    height: 30rem;
    display: flex;
    align-items: center;
}

.body-first-block-text {
    height: 30rem;
    font-family: ggsans;
    color: #23272A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 26%;
}

.body-first-block-text > h2 {
    font-size: 48px;
    line-height: 3.65rem;
    margin-top: 0px;
    margin-bottom: 1.5rem;
    width: 18.48rem;
}

.body-first-block-text > p {
    font-size: 20px;
    width: 18.48rem;
    line-height: 2rem;
}

.body-img1 {
    max-height: 72%;
    margin-right: .2rem;
}

.body-second-block-container {
    height: 37.455rem;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.body-second-block-text {
    height: 30rem;
    font-family: ggsans;
    color: #23272A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 26%;
}

.body-second-block-image {
    height: 30rem;
    display: flex;
    align-items: center;
}

.body-img2 {
    max-height: 72%;
    margin-left: .2rem;
}

.body-second-block-text > h2 {
    font-size: 48px;
    line-height: 3.60rem;
    margin-top: 0px;
    margin-bottom: 1.5rem;
    width: 18.48rem;
}

.body-second-block-text > p {
    font-size: 20px;
    line-height: 2.05rem;
    width: 18.48rem;
}

.body-third-block-container {
    height: 36.594rem;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.body-third-block-text {
    height: 30rem;
    font-family: ggsans;
    color: #23272A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 26%;
}

.body-third-block-image {
    height: 30rem;
    display: flex;
    align-items: center;
}

.body-img3 {
    max-height: 72%;
    margin-top: .1rem;
    margin-right: .2rem;
}

.body-third-block-text > h2 {
    font-size: 48px;
    line-height: 3.6rem;
    margin-top: 0px;
    margin-bottom: 1.5rem;
    width: 18.48rem;
}

.body-third-block-text > p {
    font-size: 20px;
    line-height: 2.05rem;
    width: 18.48rem;
}

.body-fourth-block-container {
    height: 78.751rem;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.body-fourth-block-container > h1 {
    color: #23272A;
    font-family: ginto;
    margin-top: 7.5rem;
    font-size: 40px;
    width: 48.073rem;
    margin-bottom: 1.55rem;
    line-height: 2.35rem;
}

.body-fourth-block-container > p {
    color: #23272A;
    width: 48.073rem;
    font-family: ggsans;
    line-height: 2.05rem;
    font-size: 20px;
    margin-bottom: 1rem;
}

.body-img4 {
    width: 57.938rem;
}

.body-img5 {
    position: absolute;
    margin-top: 61rem;
    z-index: 1;
}

.body-fourth-block-button {
    margin-top: 2.65rem;
    border: 0;
    border-radius: 1.75rem;
    background-color: #5865F2;
    color: #FFFFFF;
    height: 3.5rem;
    width: 18.3rem;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

.body-fourth-block-button:hover {
    background-color: #7983F5;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0,0,0,.2);
}

.body-fifth-block-container {
    background-color: #23272A;
    height: 39.688rem;
    font-family: ggsans;
    font-size: 16px;
}

.body-fifth-block-sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.body-fifth-block-techologies {
    margin-top: .25rem;
    flex-basis: 32%;
    display: flex;
}

.body-fifth-block-language {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
    font-size: 14px;
    margin-bottom: -3rem;
}

.body-fifth-block-techologies-header {
    position: absolute;
    margin-top: 4.35rem;
    font-size: 14px;
    margin-left: .8rem;
}

.body-fifth-block-cathal {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 5.1rem;
    flex-basis: 15%;
}

.body-fifth-block-cathal > a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.body-fifth-block-cathal > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.body-fifth-block-jason {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 5.1rem;
    flex-basis: 15%;
}

.body-fifth-block-jason > a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.body-fifth-block-jason > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.body-fifth-block-jp {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 5.1rem;
    flex-basis: 15%;
}

.body-fifth-block-jp > a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.body-fifth-block-jp > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.body-fifth-block-zach {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 5.1rem;
    flex-basis: 15%;
}

.body-fifth-block-zach > a {
    color: #FFFFFF;
    text-decoration: none;
}

.body-fifth-block-zach > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.body-fifth-block-footer {
    border-top: 1px solid #5865F2;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 20.4rem;
    height: 7rem;
    display: flex;
}


.body-fifth-block-footer-signup-button {
    border: 0;
    border-radius: 2.5rem;
    background-color: #5865F2;
    margin-bottom: .5rem;
    font-family: ggsans;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    height: 2.4rem;
    width: 4.75rem;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

.body-fifth-block-footer-signup-button:hover {
    background-color: #7983F5;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0,0,0,.2);
}

.fa-react {
    position: absolute;
    margin-top: 7rem;
    margin-left: 0.8rem;
}

.fa-python {
    position: absolute;
    margin-top: 7rem;
    margin-left: 8.5rem;
}
.fa-redux {
    position: absolute;
    width: 1.5rem;
    margin-top: 6.3rem;
    margin-left: 3.3rem;
}

.fa-aws {
    position: absolute;
    margin-top: 9.8rem;
    margin-left: 8.2rem;
}

.fa-flask {
    position: absolute;
    margin-top: 8.8rem;
    margin-left: 1rem;
    width: 1.85rem;
}

.fa-sqlalchemy {
    position: absolute;
    margin-top: 7.9rem;
    margin-left: 3.5rem;
    width: 4rem;
}

.fa-vite {
    position: absolute;
    margin-top: 6.2rem;
    margin-left: 5.7rem;
    width: 1.75rem;
}

.fa-socketio {
    position: absolute;
    margin-top: 6.17rem;
    margin-left: 11.5rem;
    width: 1.75rem;
}

.fa-node-js {
    position: absolute;
    margin-top: 9.7rem;
    margin-left: 11.3rem;
}

.footer-nav-logo {
    display: flex;
    align-items: center;
    width: 80rem;
    justify-content: space-between;
}

.footer-nav-logo > p:hover {
    cursor: pointer;
}
