.discord {
    background-color: #36393e;
    font-family: ggsans;
  }

  .friends-bar {
    display: flex;
    align-items: center;
  }

  .text-bar {
    font-family: ggsans;
    text-decoration: none;
  }

  .divider {
    height: 24px;
    width: 1px;
    background-color: #fff;
    margin: 0 10px;
  }

  .friends-h1 {
    display: flex;
    flex-direction: row;
  }

  .fa-poo {
    padding-top: 14px;
    padding-left: 14px;
  }

  .friends-h1 .fa-poo {
    font-size: 1.2rem;
    margin-right: 5px;
  }

  .app-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
  }

  .text-bar {
    display: flex;
    flex-direction: row;
    font-family: ggsans;
    text-decoration: none;
    color: white;
    list-style-type: none;
  }

  .nav-button {
    padding: 8px 16px;
    margin: 5px;
    background-color: #36393e;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .add-friend {
    background-color: #43b581;
  }

  .nav-button:hover {
    background-color: #424549;
  }

  .active {
    background-color: #424549;
  }
