.channel-list-container {
    display: flex;
    flex-direction: column;
    font-family: ggsans;
    color: var(--light-accent);
}

.channel-list-container > span {
    margin-left: 0.5rem;
    height: 2rem;
    width: 93%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0.2rem;
    padding-left: 0.65rem;
}

.channel-list-container > span.highlight {
    color: var(--light-background);
    background-color: var(--background);
}


.channel-list-container > span:hover {
    background-color: var(--primary-background);
    color: var(--text-color);
}


.channel-list-textchannels {
    margin-top: 1.2rem;
    margin-bottom: .3rem;
    font-size: 12px;
    padding-left: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.channel-list-textchannels > p:hover {
    color: var(--text-color);
    cursor: pointer;
}

.fa-hashtag {
    padding-right: .6rem;
    font-size: 1.1rem;
}

.channel-list-textchannels > button {
    margin-right: 1.1rem;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: var(--light-accent);
}

.channel-list-textchannels > button:hover {
    color: var(--light-background);
    cursor: pointer;
}
