.channel-list-container {
    display: flex;
    flex-direction: column;
    font-family: ggsans;
    color: var(--light-accent);
}

.channel-row > span {
    margin-left: 0.5rem;
    height: 2rem;
    width: 93%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0.2rem;
    padding-left: 0.65rem;
}

.channel-row > span.highlight {
    color: var(--light-background);
    background-color: var(--background);
}


.channel-row > span:hover {
    background-color: var(--primary-background);
    color: var(--text-color);
}


.channel-list-textchannels {
    margin-top: 1.2rem;
    margin-bottom: .3rem;
    font-size: 12px;
    padding-left: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    height: 18px;
}

.channel-list-textchannels > p:hover {
    color: var(--text-color);
    cursor: pointer;
}

.fa-hashtag {
    padding-right: .6rem;
    font-size: 1.1rem;
}

.channel-list-textchannels > button {
    margin-right: 1.1rem;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: var(--light-accent);
}

.channel-list-textchannels > button:hover {
    color: var(--light-background);
    cursor: pointer;
}

.channel-row {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.channel-row > span > div{
    display: flex;
    gap: 0.5rem;
    font-size: 11px;
    margin-left: 20px;
    /* justify-content: flex-end; */
    position: fixed;
    left: 245px;
}

.edit-channel_input {
    border: none;
    background-color: var(--secondary-background-darker);
    color: white;
    width: 190px;
    height: 30px;
    padding-left: 5px;
    outline: none;
    font-size: 14px;
}
