.hidden {
    display: none;
}

.channel-menu-button{
    color: #CDCDD0;
    padding-right: .3rem;
}

.channel-menu-dropdown {
    position: absolute;
    background-color: var(--secondary-background-darker);
    margin-top: 12rem;
    margin-left: -0.4rem;
    width: 13.76rem;
    height: fit-content;
    list-style-type: none;
    border-radius: 0.2rem;
    box-shadow: 0px 8px 15px rgba(0,0,0,.2);
    z-index: 10;
}

.channel-menu-container {
    color: #B5BAC1;
    font-family: ggsans;
    font-weight: 500;
    font-size: 14px;
}

.channel-menu-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: .5rem;
    padding-right: .6rem;
    height: 2rem;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.channel-menu-option:hover {
    background-color: var(--primary);
    color: var(--white);
    border-radius: .2rem;
}

.channel-menu-option-delete, .channel-leave {
    color: var(--delete);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: .5rem;
    padding-right: .6rem;
    height: 2rem;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.channel-menu-option-delete:hover, .channel-leave:hover {
    background-color: var(--delete);
    color: var(--white);
    border-radius: .2rem;
}

.channel-menu-container {
    margin: .5rem .5rem;
    display: flex;
    flex-direction: column;
}

.channel-menu-border {
    border-bottom: 1px solid #2E2F34;
    width: 12.3rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    margin-left: .25rem;
}

.dm-list-header {
    padding: 0.8rem 1rem;
    background-color: var(--secondary-background);
    border-bottom: 1px solid var(--secondary-background-darker);
    font-family: ggsans;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dm-list-header:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.dm-list-header > p {
    font-weight: 600;
    font-size: 17px;
}


.channel-menu-dropdown_member {
    position: absolute;
    background-color: var(--secondary-background-darker);
    margin-top: 7rem;
    margin-left: -0.4rem;
    width: 13.76rem;
    height: fit-content;
    list-style-type: none;
    border-radius: 0.2rem;
    box-shadow: 0px 8px 15px rgba(0,0,0,.2);
    z-index: 10;
}
