.channel-message-list__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.channel-message__avatar-container {
    width: 45px;
    height: 45px
}
.channel-message__avatar-container img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.channel-message__container {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--accent);
}
.channel-message__info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.channel-message__info__header {
    display: flex;
    gap: 10px;
    font-size: 1rem;
    width: 100%;
}
.channel-message__info__header__date {
    color: var(--light-accent)
}
.channel-message__info__content {
    font-size: 1.1rem;
}
.channel-message__info__header__edited {
    color: var(--light-accent);
    font-size: .8rem;
}


.message-hidden {
    visibility: hidden;
    display: flex;
    padding-right: 5px;
    gap: 0.5rem;
}

.channel-message__container:hover .message-hidden{
    visibility: visible;

}

.channel-message__container:hover {
    background-color: var(--secondary-background);
    border-radius: 8px;

}

.channel-message__info__header-container {
    display: flex;
}

.message-hidden > button {
    background: none;
    border: none;
    color: var(--light-accent);
    cursor: pointer;
}
