.delete-modal-container {
    display: flex;
    flex-direction: column;

    border-radius: .5rem;
    background-color: var(--background);
    width: 440px;
}

.delete-modal-container > span {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 16px;
}

.delete-modal-container > p {
    padding: 5px 16px;
}

.delete-modal-container > p > span{
    font-weight: 600;
}

.delete-modal-footer {
    margin-top: 15px;
    background-color: var(--secondary-background);
    padding: 16px;
    height: 70px;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}


.delete-modal-button-no {
    background: none;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.delete-modal-button-no:hover {
    text-decoration: underline;
}

.delete-modal-button-yes {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}
