.dev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 2px 0 2px;
}

.dev_prof-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--user-profile);
    padding: 9px 0px;
    padding-left: 9px;
    padding-right: 15px;
    margin-top: 20px;
    border-radius: 6px;
    width: 200px;
}

.online-status > i {
    color: gold;
    font-size: 12px;
}

.dev-modal_info {
    padding: 15px;
    display: flex;
    justify-content: space-around;
}


