.dev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 2px 0 2px;
}

.dev_prof-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--user-profile);
    padding: 9px 0px;
    padding-left: 9px;
    padding-right: 15px;
    margin-top: 20px;
    border-radius: 6px;
    width: 200px;
    transition: transform 0.2s ease;
}

.dev_prof-container:hover {
    transform: scale(1.03);
}

.user_prof-settings {
    cursor: pointer;
}

.online-status > i {
    color: gold;
    font-size: 12px;
}

.dev-modal {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-background-darker);
    color: var(--white);
    border-radius: 10px;
    margin: -10px;
}


.dev-modal_info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: var(--accent);
    margin: 5px 15px 15px 15px;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
}

.dev-modal_links {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.dev-modal__form__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dev-modal_info-name {
    color: var(--text-color-accent);
}

.dev-modal__form__group > a > i {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.dev-modal_about {
    display: flex;
    flex-direction: column;
}

.dev-modal_about > div {
    padding-bottom: 5px;
}

@media (min-width: 769px)
    and (max-width: 1023px) {
        .dev_prof-container {
            width: 110px;
            flex-direction: column;
            gap: 2rem;
        }

        .dev-container > h3 {
            margin-left: 1.5rem;
        }
}
