.direct-message-container {
    display: flex;
    align-items: center;
    gap: .5rem;
    height: 2.6rem;
    margin: 0px .5rem;
    /* margin-bottom: .2rem; */
    color: var(--secondary-accent);
}

.direct-message-container:hover {
    cursor: pointer;
    color: var(--text-color-accent);
    background-color: var(--accent);
    border-radius: .2rem;
}

.__image {
    margin-left: .5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 4rem;
}

.direct-message-icon-friend {
    display: flex;
    align-items: center;
    margin: .5rem .5rem;
    height: 2.5rem;
    color: var(--secondary-accent);
}

.direct-message-icon-friend:hover {
    cursor: pointer;
    color: var(--text-color-accent);
    background-color: var(--accent);
    border-radius: .2rem;
}

.direct-message-icon-friend > i {
    font-size: 20px;
    padding-left: .65rem;
}

.direct-message-icon-friend > span {
    margin-left: 1rem;
}
