.dm-list-container {
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: red; */
}

.user-profile {
    position: fixed;
    left: 10;
    bottom: 0;
    width: 194px;
}
