.discord {
  font-family: ggsans;
}

.text-bar > button {
  font-family: ggsans;
}

.general-view-header {
  padding: 0px 8px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.divider {
  height: 24px;
  width: 1px;
  background-color: var(--message);
  margin: 0 15px;

}

.search-container {
  z-index: 1;
}


.friends-h1 {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 14px;
}

.fa-users {
  color: var(--light-accent);
  padding-left: 16px;
  padding-right: 5px;
  font-size: 20px;
}

.friends-h1 .fa-poo {
  margin-right: 5px;
}

.app-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--white);
}

.text-bar {
  display: flex;
  flex-direction: row;
  font-family: ggsans;
  text-decoration: none;
  color: var(--white);
  list-style-type: none;
  justify-content: space-between;
}

.nav-button {
  margin: 5px;
  color: var(--white);
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  padding: 2px 8px;
  background-color: transparent;
  font-size: 16px;
  box-sizing: border-box;
}

.nav-button.online-friend:hover {
  background-color: #424549;
  padding: 2px 8px;
  margin: 0px 8px;
}

.add-friend {
  background-color: #248046;
}

.active {
  background-color: #424549;
  padding: 2px 8px;
  margin: 0px 8px;
}


.search-input-bar {
  width: 94%;
  max-width: 100%;
  height: 2.15rem;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  background-color: var(--secondary-background-darker);
  border: 0;
  padding-left: .6rem;

  font-size: 15px;
  color: var(--white)
}

.search-input-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.add-a-friend-bar {
  width: 94%;
  max-width: 100%;
  height: 2.15rem;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  background-color: var(--secondary-background-darker);
  border: 0;
  padding-left: .6rem;

  font-size: 15px;
  color: var(--white)
}

.search-icon {
  background-color: var(--secondary-background-darker);
  color: var(--light-accent);
  padding-top: .65rem;
  padding-right: 10px;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

.search-input-bar:focus {
  outline: none;
}

.content-online,
.content-all {
padding-left: 20px;
padding-top: 20px
}

.heading-class {
  font-size: 20px;
}

.friend-list h2{
  font-size:13px;
  padding-bottom:15px;
 }

 .icons-container {
  display: flex;
  align-items: center;
}


.friend-list {
  margin-left: 25px;
  margin-right: 25px;
}

.friend-list .content-online div{
  display:flex;
  padding: 12px;
 }

 .friend-list .content-all div{
  display:flex;
  padding: 12px;
 }

 .friend-list div p{
  margin-left:21px;
  font-weight: 600;
  padding-left:0px;
  margin-right:-19px;
 }


.active.nav-button.add-friend {
  color: #2DC770;
  background-color: transparent;
}

.friend-list div img{
  height:29px;
  border-radius: 20px;
 }


/* Division for friends list */
.friend-list div{
  min-width:0px;
  padding-left:0px;
  border-top-style:solid;
  border-top-color:#474747;
  border-top-width:2px;
 }

 .discord .friend-list .content-container{
 border-top-style:none;
}

/* Division */
.friend-list .content-add div{
 border-style:none;
 border-top-style:none;
}


.friend-list div .icons-container{
 margin-left:200px;
 margin-right:263px;
}

/* Input Add Friend */
.friend-list input[type=text]{
  padding-top:0px;
  margin-top:28px;
 }

 /* Add  desc */
 .friend-list .Add-Desc{
  padding-top:0px;
  margin-top:12px;
  color:#b2b2b2;
 }

 /* Add  friend */
 .friend-list .Add-Friend{
  margin-top:27px;
  font-weight:600;
  font-size:18px;
 }
