.text-bar > button {
  font-family: ggsans;
}

.general-view-header {
  padding: 0px 8px;
}

.divider {
  height: 24px;
  width: 1px;
  background-color: var(--secondary-background-darker);
  margin: 0 15px;
}

.friends-h1 {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 14px;
}

.friends-h1-users {
  color: var(--light-accent);
  padding-left: 10px;
  padding-right: 5px;
  font-size: 20px;
}

.friends-h1 .fa-poo {
  margin-right: 5px;
}

.app-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--white);
}

.text-bar {
  display: flex;
  flex-direction: row;
  font-family: ggsans;
  text-decoration: none;
  color: var(--white);
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  gap:1rem;
}

.nav-button {
  margin: 5px;
  color: var(--white);
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  padding: 2px 15px;
  background-color: transparent;
  font-size: 16px;
  box-sizing: border-box;
  height: 2rem;
  margin: 8px 0px;
}

.nav-button.online-friend:hover {
  background-color: var(--gray-button-accent);
}

.add-friend {
  background-color: var(--save-button);
}

.add-friend:hover {
  background-color: var(--save-button-accent);
}

.active {
  background-color: var(--gray-button-accent);
}


.search-input-bar {
  width: 94%;
  max-width: 100%;
  height: 2.15rem;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  background-color: var(--secondary-background-darker);
  border: 0;
  padding-left: .6rem;

  font-size: 15px;
  color: var(--white)
}

.search-input-container {
  margin: 0px 1.9rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.Add-Input {
  display: flex;
  align-items: center;
}

.send-request {
  background-color: var(--primary);
  border: 0;
  color: var(--white);
  height: 2rem;
  border-radius: .2rem;
  margin-right: .5rem;
  font-family: ggsans;
  font-weight: 500;
  width: 10rem;
  transition-duration: .1s;
  transition-timing-function: ease-in;
}

.send-request:hover {
  cursor: pointer;
  background-color: var(--primary-accent);
}

.send-request:active {
  background-color: var(--primary);
}

.Add-button-container {
  background-color: var(--secondary-background-darker);
  margin-top: 1.05rem;
  height: 3.15rem;
  display: flex;
  align-items: center;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border-top: 1px solid var(--black);
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}
.add-a-friend-bar {
  width: 92%;
  height: 3.15rem;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  background-color: var(--secondary-background-darker);
  border: 0;
  padding-left: .6rem;
  font-size: 15px;
  color: var(--white);
  font-family: ggsans;
  margin-left: .3rem;
  margin-top: 1.05rem;
  border-top: 1px solid var(--black);
  border-left: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}

.add-a-friend-bar:focus{
  outline: none;
}

.search-icon {
  background-color: var(--secondary-background-darker);
  color: var(--light-accent);
  padding-top: .65rem;
  padding-right: 10px;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

.search-input-bar:focus {
  outline: none;
}

.content-online,
.content-all {
  padding-left: 20px;
  padding-top: 20px
}

.heading-class {
  font-size: 20px;
}

.friend-list h2{
  font-size:13px;
  padding-bottom:15px;
}

.icons-container {
  display: flex;
  align-items: center;
}

.friend-list {
  margin-left: 25px;
  margin-right: 25px;
}

.active.nav-button.add-friend {
  color: var(--white);
  background-color: var(--save-button-accent);
}

.discord .friend-list .content-container{
  border-top-style:none;
}

.friend-list div .icons-container{
  margin-left:200px;
  margin-right:263px;
}


.Add-Desc{
  margin-top:9px;
  font-size: 14px;
  color: var(--text-color-accent);
  padding-left: 5px;
}

.Add-Friend{
  margin-top: 18px;
  font-weight: 600;
  font-size: 16px;
  padding-left: 5px;
}

.friend-list div .icons-container{
  border-top-style:none;
  height:24px;
 }


.friend-list div .messages{
  border-top-style:none;
}

.friend-list div .dots{
  border-top-style:none;
}


/* Online page with no friends */

.no-friend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.no-friend-container > img {
  max-width: 100%;
}

.no-friends-txt {
  text-align:center;
  font-weight:500;
  color:var(--light-accent)
}

/* button to add friends on "all" page */
.send-request-all {
  cursor: pointer;
  border-top-style:none;
  background-color: rgb(63, 72, 171);
  align-items: center;
  color: white;
  width: 98px;
  height: 38px;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  border-radius: 3px;
  position: relative;
}

.send-request-all:hover {
  transition-duration: 0.17s, 0.17s;
  background-color: rgb(52, 60, 144);
}

.friend-list-border {
  border-bottom: 1px solid var(--gray-button-accent);
  margin: 1.2rem 0px;
}

.friend-list-discovery-button {
  background-color: var(--secondary-background);
  border: 1px solid var(--gray-button-accent);
  border-radius: .5rem;
  height: 3.5rem;
  width: 19.7rem;
  margin-top: 1.3rem;
  padding-left: .6rem;
  display: flex;
  align-items: center
}

.friend-list-discovery-button:hover {
  background-color: var(--gray-button-accent);
  cursor: pointer;
}

.friend-list-discovery-icon {
  color: var(--text-color);
  background-color: var(--save-button);
  width: 2.3rem;
  height: 2.3rem;
  border-radius: .5rem;
  border: 0;
  font-size: 20px;
  transition-duration: .15s;
  transition-timing-function: ease-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
