.login-background1{
    position: fixed;
    z-index: -1;
}

.login-background2 {
    display: none;
}

.login-container-main {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.login-container {
    z-index: 2;
    width: 49rem;
    height: 25.5rem;
    background-color: #313338;
    border-radius: 0.3rem;
    display: flex;
    box-shadow: 0px 2px 15px rgba(0,0,0,.2);
}

.login-input-container {
    font-family: ggsans;
    flex-basis: 62.5%;
}

.login-input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input-area > p:hover {
    cursor: default;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 0px 2rem;
}

.login-form > input {
    height: 2.5rem;
    border: 0;
    border-radius: .2rem;
    padding-left: .6rem;
}

.login-forgot-pass {
    font-size: 14px;
    color: var(--login-and-logout-link);
    margin-top: .3rem;
    margin-bottom: 1.35rem;
    font-weight: 500;
}

.login-forgot-pass:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-register {
    color:var(--login-and-logout-link);
    font-weight: 500;
    padding-left: .08rem;
}

.login-register:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-form > button {
    height: 2.7rem;
    background-color: var(--primary);
    color: var(--white);
    font-size: 16px;
    font-family: ggsans;
    font-weight: 500;
    border: 0;
    border-radius: .2rem;
    transition-duration: .2s;
}

.login-form > button:hover {
    background-color: var(--primary-accent);
    cursor: pointer;
}

.login-qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 1%;
    margin-right: 1.75rem;
}

.login-qr-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login-qr-info > p:hover {
    cursor: default;
}

.login-bottom {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
}

.login-label-errors {
    display: flex;
    justify-content: space-between;

}

.login-errors {
    font-size: 0.8rem;
    color: var(--errors);
    font-style: italic;
    font-size: 14px;
}


@media (min-width: 1790px) {
    #root .login-background1{
        display: none;
        z-index: -10;
    }

    #root .login-background2{
        display: flex;
        position: fixed;
        z-index: -10;
    }

}
