.main-page-container {
    display: flex;
}

.server-list-container {
    background-color: #1E1F22;
    width: 4.5rem;
    height: 100rem;
}

.dm-list-container {
    background-color: #2B2D31;
    width: 15rem;
    height: 100rem;
}

.general-view-container {
    background-color: #313338;
    width: 30.5rem;
    height: 100rem;
}
