.main-page-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: .27fr 7fr .5fr;
    grid-template-columns: 72px 240px 1fr 232px;
}

.main-page-container__item {
    background-color: var(--background);
}

.main-page-container__item::-webkit-scrollbar {
    display: none;
}

.main-page-container__item--1 {
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: var(--secondary-background-darker);
    /* overflow-y: scroll; */
}

.main-page-container__item--2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--secondary-background);
    /* border: 1px solid green; */
}

.main-page-container__item--3 {
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: var(--background);
    /* border: 1px solid pink; */
    border-bottom: 1px solid var(--secondary-background-darker);
}

.main-page-container__item--4 {
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.main-page-container__item--5 {
    grid-column: 3/4;
    grid-row: 2/3;
    /* border: 1px solid orange; */
}

.main-page-container__item--6 {
    grid-column: 3/4;
    grid-row: 3/4;
    /* border: 1px solid purple; */
}

.main-page-container__item--7 {
    grid-column: 4/5;
    grid-row: 2/4;
    border-left: 2px solid var(--accent);
    background-color: var(--secondary-background);
}


/*
/* .server-list-container {
    grid-area: "servers";
    border: 2px solid green;
    background-color: var(--secondary-background-darker);
    width: 4.5rem;
    height: 100%;
    overflow-y: scroll;
}

.server-list-container::-webkit-scrollbar {
    display: none;
}

.dm-list-container {
    background-color: var(--secondary-background);
    /* width: 15rem; */
    /* height: 100; */
/* } */


/* .general-view-container {
    background-color: var(--background); */
    /* height: 100; */
    /* width: 100%; */
/* } */
