.main-page-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: .27fr 7fr .5fr;
    grid-template-columns: 72px 240px 1fr 300px;
}

.main-page-container__item {
    background-color: var(--background);
}

.main-page-container__item::-webkit-scrollbar {
    display: none;
}

.main-page-container__item--1 {
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: var(--secondary-background-darker);
}

.main-page-container__item--2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--secondary-background);
}

.main-page-container__item--3 {
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: var(--background);
    border-bottom: 1px solid var(--secondary-background-darker);
}

.main-page-container__item--4 {
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.main-page-container__item--5 {
    grid-column: 3/4;
    grid-row: 2/3;
    overflow-y: auto !important;

}

.main-page-container__item--6 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.main-page-container__item--7 {
    grid-column: 4/5;
    grid-row: 2/4;
    border-left: 2px solid var(--accent);
    background-color: var(--secondary-background);
}

@media (min-width: 769px)
    and (max-width: 1023px) {
        .main-page-container {
            grid-template-columns: 72px 240px 1fr 145px;
        }
}

@media (max-width: 768px) {
    .main-page-container__item--5 {
        grid-column: 3/5;
    }

    .main-page-container__item--6{
        grid-column: 3/5;
    }

    .main-page-container__item--7 {
        display: none;
    }
}
