.server-users-list-container {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.server-users-list__header {
    width: 100%;
    display: flex;
}
.server-users-list__users {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
.server-users-list__users::-webkit-scrollbar {
    width: 5px;
}

.server-users-list__users::-webkit-scrollbar-track {
    background: var(--secondary-background); 
}

.server-users-list__users::-webkit-scrollbar-thumb {
    background: var(--secondary-background);
}

.server-users-list__users:hover::-webkit-scrollbar-thumb {
    background: var(--secondary-background-darker);
}

.server-users-list__users:hover::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.server-user__container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    color: var(--secondary);
    border-bottom: 2px solid var(--accent);
    padding: 15px 0px;
}

.server-user__img {
    width: 40px;
    height: 40px;
    position: relative;
}
.server-user__img img {
    border-radius: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.server-user__status {
    width: 15px;
    height: 15px;
    background-color: var(--secondary-background);
    position: absolute;
    top: 70%;
    left: 65%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.server-user__status--online {
    width: 10px;
    height: 10px;
    background-color: var(--secondary);
    border-radius: 50px;

}
.server-user__status--offline {
    width: 10px;
    height: 10px;
    background-color: var(--gray-button-accent);
    border-radius: 50px;

}



