.serverlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serverlist-friend-button {
    margin-top: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    filter: saturate(300%);
    border-radius: 1rem;
    cursor: pointer;
}

.serverlist-friend-button > i {
    font-size: 1.4rem;
}

.serverlist-icon {
    border-radius: 2rem;
    transition-duration: .1s;
}

.serverlist-icon:hover {
    border-radius: 1rem;
    cursor: pointer;
}

.serverlist-main-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
}

.serverlist-add-server > button {
    color: var(--secondary);
    background-color:var(--accent);
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    border: 0;
    font-size: 30px;
    transition-duration: .15s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.serverlist-add-server > button:hover, .serverlist-add-server > i:hover {
    color: var(--light-background);
    background-color: var(--secondary);
    border-radius: 1rem;
}

.general-view-header {
    font-family: ggsans;
    display: flex;
    align-items: center;
}

.general-view-header > p {
    padding-left: 1rem;
    font-weight: 600;
    font-size: 17px;
    padding-bottom: 0.1rem;
}

.serverlist-add-server-icon {
    color: var(--secondary);
    background-color:var(--accent);
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    border: 0;
    font-size: 20px;
    transition-duration: .15s;
    transition-timing-function: ease-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
