/* .serverlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serverlist-friend-button {
    margin-top: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    filter: saturate(300%);
    border-radius: 1rem;
    cursor: pointer;
}

.serverlist-friend-button > i {
    font-size: 1.4rem;
}

.serverlist-icon {
    border-radius: 2rem;
    transition-duration: .1s;
}

.serverlist-icon:hover {
    border-radius: 1rem;
    cursor: pointer;
}

.serverlist-main-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
}

.serverlist-add-server > button {
    color: var(--secondary);
    background-color:var(--accent);
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    border: 0;
    font-size: 30px;
    transition-duration: .15s;
    transition-timing-function: ease-out;
}

.serverlist-add-server > button:hover {
    color: var(--light-background);
    background-color: var(--secondary);
    border-radius: 1rem;
}


.dm-list-header {
    width: 100%;
    padding:  1rem 0rem;
    background-color: var(--secondary-background);
    border-bottom: 1px solid var(--background);
    font-family: ggsans;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dm-list-header:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.dm-list-header > p {
    padding-left: 1rem;
    font-weight: 600;
    font-size: 17px;
    padding-bottom: 0.1rem;
}

.general-view-header {
    width: 100%;
    height: 3.05rem;
    background-color: #2B2D31;
    border-bottom: 1px solid #1F2023;
    font-family: ggsans;
    display: flex;
    align-items: center;
}

.general-view-header > p {
    padding-left: 1rem;
    font-weight: 600;
    font-size: 17px;
    padding-bottom: 0.1rem;
} */
