.signup-container {
    display: flex;
    justify-content: center;
}

.signup-form-container {
    border-radius: .3rem;
    background-color: #313338;
    width: 30rem;
    height: 42.375rem;
    margin-top: 19.85rem;
    box-shadow: 0px 2px 15px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: ggsans;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 26rem;
    gap: .4rem;
}

.signup-form > input {
    height: 2.5rem;
    background-color: #1E1F22;
    border: 0;
    border-radius: .2rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
    caret-color: #FFFFFF;
}

.signup-form > input:focus {
    caret-color: #FFFFFF;
}

.signup-form > label {
    font-size: 12px;
    font-weight: 600;
    color: #B5BAC1
}

.signup-form-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    color: #B5BAC1
}

.signup-form-banner-color > label {
    margin-bottom: 1rem;
}

.signup-form-banner-color > input, .signup-form-pronouns > input {
    height: 2.5rem;
    background-color: #1E1F22;
    border: 0;
    border-radius: .2rem;
    margin-bottom: 1rem;
    width: 95%;
    margin-top: 0.4rem;
    color: #FFFFFF;
}

.signup-form-pronouns > input {
    width: 100%;
}

.signup-form > button {
    background-color: #5865F2;
    color: white;
    font-family: ggsans;
    border: 0;
    border-radius: .2rem;
    font-size: 16px;
    font-weight: 00;
    height: 2.6rem;
}

.signup-form > button:hover {
    background-color: #4752C4;
    cursor: pointer;
}

.signup-already-have-account {
    margin-top:.7rem;
    color:#00A8FC;
    transition-duration: .2s;
}

.signup-already-have-account:hover {
    text-decoration: underline;
    cursor: pointer;
}
