.signup-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.signup-form-container {
    border-radius: .3rem;
    background-color: #313338;
    width: 30rem;
    max-height: 54rem;
    box-shadow: 0px 2px 15px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: ggsans;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 26rem;
    gap: .4rem;
}
.file__input {
   display: none;
}
.file__input-btn {
    width: 102px;
    height: 48px;
    margin: 0.4rem auto;
    background-color: var(--secondary-background-darker);
    border: 0;
    cursor: pointer;
    border-radius: .2rem;
    color: var(--white);
}

.avatar__preview {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.avatar__preview  > img{
    width: 90%;
    height: 90%;
    border-radius: 5rem;
    margin-top: 0.5rem;
    object-fit: cover;
}

.signup-form > input {
    height: 2.5rem;
    background-color: var(--secondary-background-darker);
    border: 0;
    border-radius: .2rem;
    margin-bottom: 1rem;
    color: var(--white);
    caret-color: var(--white);
    padding-left: 8px;
}

.signup-form > input:focus {
    caret-color: var(--white);
}

.signup-form > label {
    font-size: 12px;
    font-weight: 600;
    color: #B5BAC1
}

.signup-form-footer {
    display: flex;
    gap:2.5rem;
    font-size: 12px;
    font-weight: 600;
    color: #B5BAC1
}

.signup-form-banner-color > label {
    margin-bottom: 1rem;
}

.signup-form-pronouns {
    display: flex;
    flex-direction: column;
    width: 28%;
}

.signup-form-avatar {
    display: flex;
    width: 100px;
    flex-direction: column;
    margin-right: 0.5rem;
}

.signup-form-banner-color > input{
    cursor: pointer;
}

.signup-form-banner-color > input, .signup-form-pronouns > input {
    height: 3rem;
    background-color: var(--secondary-background-darker);
    border-radius: .2rem;
    margin-bottom: 1rem;
    width: 95%;
    margin-top: 0.4rem;
    color: var(--white);
    border: 0;
}

.signup-form-pronouns > input {
    width: 100%;
    border: 0;
}

.signup-form > button {
    background-color: var(--primary);
    color: var(--white);
    font-family: ggsans;
    border: 0;
    border-radius: .2rem;
    font-size: 16px;
    font-weight: 00;
    height: 2.6rem;
    margin-top: 1.5rem;
}

.signup-form > button:hover {
    background-color: #4752C4;
    cursor: pointer;
}

.signup-already-have-account {
    margin-top: 1.1rem;
    margin-bottom: 1.2rem;
    color: var(--login-and-logout-link);
    transition-duration: .2s;
}

.signup-already-have-account:hover {
    text-decoration: underline;
    cursor: pointer;
}

.signup-modal-errors-color {
    padding-top: .2rem;
}

.signup-modal-errors-pronoun {
    padding-top: .2rem;
}

.signup-server-errors {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-birthday-select-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.signup-birthday-select-container > select {
    height: 2.5rem;
    background-color: var(--secondary-background-darker);
    border: 0;
    border-radius: .2rem;
    margin-bottom: 1rem;
    width: 30%;
    margin-top: 0.4rem;
    color: var(--white);
}

.signup-errors {
    color: var(--errors);
}
