.user_prof-container {
    /* width: 240px;
    position: fixed;
    bottom: 0;
    padding: 8px 12px;
    background-color: #232428;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px; */
    margin-top: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-background-darker);
    padding: 10px 15px;
}

.user_prof-info {
    display: flex;
    gap: 10px;
    color: var(--light-accent);
    align-items: center;
    color: var(--white);
}
.user_prof-img-container {
    width: 35px;
    height: 35px;
    position: relative;
}
.user_prof-img-container img  {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;

}
/* messy but working... */
.online-status {
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background-color: var(--secondary-background-darker);
    position: absolute;
    left: 68%;
    bottom: 1px;
    transform: translateY(10%);
    display: flex;
    align-items: center;
    justify-content: center;

}
.green-circle {
    width: 10px;
    height: 10px;
    background-color: var(--secondary);
    border-radius: 50px;
}


.user_prof-settings > button {
    background: none;
    border: none;
    color: var(--light-accent);
    font-size: 16px;
    cursor: pointer;
}

.user-modal {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-background-darker);
    color: var(--white);
    border-radius: 10px;
    margin: -10px;
}

.user-modal_color {
    margin-right: 10px;
}

.user-modal_banner {
    height: 80px;
    border-radius: 10px 10px 0px 0px;
}

.user-modal_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0px 10px;
}

.user-modal_top > form > input {
    cursor: pointer;
}

.user-modal_title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-modal_avatar {
    height: 60px;
    width: 60px;
    border: 5px solid var(--secondary-background-darker);
    border-radius: 100%;
    margin-bottom: 30px;
    background-color: white;
}

.user-modal_logout {
    height: 30px;
    width: 115px;
    background-color: hsl(359, 87%, 60%);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 15px 20px;
    font-size: 14px;
}

.user-modal_info {
    background-color: var(--accent);
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;

}
.form__group {
    display: flex;
    justify-content: space-between;
}
.form__group input {
    border: none;
    border-radius: 5px;
    padding: 1px 2px;
}

.user-modal_info-name {
    color: var(--light-accent);
    font-size: 14px;
}
.user-modal__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button[disabled] {
    filter: brightness(50%);
    cursor: not-allowed;
}
