:root {
  --background: #32353a;
  --secondary-background: #2B2D31;
  --secondary-background-darker: #1E1F22;
  --accent: #36393e;
  --light-accent: #949BA4;
  --primary: #5865f2;
  --primary-accent: #7983F5;
  --light-background: #DBDEE1;
  --text-color: #fafafa;
  --text-color-accent: #B5BAC1;
  --secondary: #57f287;
  --errors: #F23F42;
  --delete:#DA373C;
  --delete-dark:#A12828;
  --white: #FFFFFF;
  --secondary-accent: #757983;
  --message: #3a3b3e;
  --user-profile:#232428;
  --login-and-logout-link: #00A8FC;
  --gray-button-accent: #4E5058;
  --save-button: #248046;
  --save-button-accent: #1A6334;
  --black: #151515;
}

/* TODO adjust these properly */
body.light {
  --background: white;
  --text-color: #36393e;
  --secondary-background: #36393e;
  --accent: #36393e;
  --light-accent: #949BA4;
  --primary: #7289da;
  --light-background: #fafafa;
  --secondary: #57f287;
  --secondary-background-darker: #242728;
  --errors: #F23F42;
}

@font-face {
  font-family: "ginto";
  font-style: normal;
  font-weight: 800;
  src: url(../../fonts/ginto/ginto-normal.woff2);
}

@font-face {
  font-family: "ggsans";
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/ggsans/gg_sans_Normal.ttf);
}

@font-face {
  font-family: "ggsans";
  font-style: italic;
  font-weight: 400;
  src: url(../../fonts/ggsans/gg_sans_Normal_Italic.ttf);
}

@font-face {
  font-family: "ggsans";
  font-style: normal;
  font-weight: 500;
  src: url(../../fonts/ggsans/gg_sans_Medium.ttf);
}

@font-face {
  font-family: "ggsans";
  font-style: italic;
  font-weight: 500;
  src: url(../../fonts/ggsans/gg_sans_Medium_Italic.ttf);
}

@font-face {
  font-family: "ggsans";
  font-style: normal;
  font-weight: 600;
  src: url(../../fonts/ggsans/gg_sans_Bold.ttf);
}

@font-face {
  font-family: "ggsans";
  font-style: italic;
  font-weight: 600;
  src: url(../../fonts/ggsans/gg_sans_Bold_Italic.ttf);
}

@font-face {
  font-family: "ggsans";
  font-style: normal;
  font-weight: 800;
  src: url(../../fonts/ggsans/gg_sans_Extrabold.ttf);
}
