@import url('./_variables.css');
@import url('./_animations.css');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: ggsans;
    width: 100%;
    overflow: hidden;
}