@import url('./_variables.css');
@import url('./_animations.css');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: ggsans;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


button.primary {
    background-color: var(--primary);
}
button.bg {
    background-color: var(--background);
    padding: 5px 20px;
    color: var(--white)
}